aiodns==2.0.0
aiofile==1.5.2
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
cffi==1.13.2
chardet==3.0.4
idna==2.8
multidict==4.7.2
numpy==1.18.1
opencv-contrib-python-headless==4.1.2.30
pycares==3.1.0
pycparser==2.19
pyee==7.0.1
python-ffmpeg==1.0.11
yarl==1.4.2
